html,
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.container {
  display: block;
  margin-bottom: 30px;
  padding: 0 40px;
}
ol li {
  font-size: 16px;
}

#twentyone {
  display: block;
  margin: 0 auto;
  padding: 0 40px;
}

.status {
  color: grey;
}

.sit {
  display: none;
}
