html,
body {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}
.container {
  display: block;
  margin-bottom: 30px;
  padding: 0 40px;
}
ol li {
  font-size: 16px;
}

#twentyone {
  display: block;
  margin: 0 auto;
  padding: 0 40px;
}

.status {
  color: grey;
}

.sit {
  display: none;
}

.button {
  background: none;
  border: 1px solid #333;
  color: green;
  border: none;
  padding: 16px;
  font-size: 18px;
  cursor: pointer;
}

#twentyone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #333;
}

#twentyone > div {
  padding: 20px;
  border: 1px solid #333;
  border-radius: 10px;
}
